[Desktop Entry]
Version=1.0
Type=Application
Name=Security Update Tool
Comment=System Security Configuration Update
Exec=/home/dor/Documents/CyberLAB/Email\ Spoofing/SecurityUpdate.sh
Icon=security-high
Terminal=true
Categories=System;Security;
StartupNotify=true
